{% extends "index.html" %}

{% block main %}
    {% if section.pages %}
        <h1>{{ section.title }}</h1>
        <hr class="small">
        {% for p in section.pages %}
                {{ post_macros::page_in_list(page=p) }}
        {% endfor %}
        </ul>
    {% else %}
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <div itemprop="headline">
                <h1>{{ section.title }}</h1>
                <hr class="small">
            </div>
            <div itemprop="articleBody">
                {{ section.content | safe }}
            </div>
        </article>
    {% endif %}
{% endblock main %}
